body {
    background-image: url("yarn.jpeg");
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px black;
}

.app-div {
    max-width: 300px;
    margin: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#decrement-btn {
    background: rgb(12, 75, 153);
}

#save-btn {
    background: darkgreen;
}

#reset-btn {
    background: rgb(230, 182, 7);
}

